In [ ]:
import json
import os
import os.path as path
from pprint import pprint
from tqdm import tqdm

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# directories
root_dir = path.dirname(os.getcwd())
logs_dir = path.join(root_dir, f"logs/reddit")
data_dir = path.join(root_dir, f"data/reddit")
outs_dir = path.join(root_dir, f"output/reddit")

posts_dir = path.join(data_dir, f"posts")
comments_dir = path.join(data_dir, f"comments")

In [14]:
# load LDA results
filepath = path.join(outs_dir, "LDA-2022-02-08-1754", "results.jsonl")
results = []
with open(filepath, 'r') as f:
    for line in f:
        results.append(json.loads(line))
results = pd.DataFrame(results)

In [15]:
results

    n_topics  coherence                                             topics
0         12   0.384337  [[[0.026, year], [0.021, company], [0.017, pos...
1         13   0.388238  [[[0.042, year], [0.015, month], [0.012, offer...
2         14   0.383856  [[[0.036, year], [0.02, company], [0.016, posi...
3         15   0.376122  [[[0.033, year], [0.014, experience], [0.014, ...
4         16   0.373654  [[[0.053, year], [0.019, month], [0.013, raise...
5         17   0.385450  [[[0.031, year], [0.019, company], [0.018, pos...
6         18   0.390436  [[[0.048, year], [0.019, raise], [0.018, compa...
7         19   0.388338  [[[0.04, year], [0.017, position], [0.016, int...
8         20   0.381869  [[[0.047, year], [0.019, school], [0.013, expe...
9         21   0.394825  [[[0.053, year], [0.017, raise], [0.017, month...
10        22   0.384688  [[[0.05, year], [0.021, month], [0.013, get], ...
11        23   0.378674  [[[0.042, year], [0.014, month], [0.013, get],...
12        24   0.374858  [[[0.058, year], [0.017, month], [0.012, get],...
13        25   0.369436  [[[0.055, year], [0.02, month], [0.017, get], ...
14        26   0.390777  [[[0.049, year], [0.021, company], [0.021, off...
15        27   0.386688  [[[0.044, year], [0.02, position], [0.019, off...
16        28   0.381906  [[[0.059, year], [0.014, month], [0.013, schoo...
17        29   0.376919  [[[0.056, year], [0.024, month], [0.016, get],...
18        30   0.398129  [[[0.037, year], [0.026, month], [0.025, hr], ...
19        31   0.387150  [[[0.042, year], [0.02, month], [0.017, money]...
20        32   0.385046  [[[0.031, minimum_wage], [0.03, wage], [0.03, ...
21        33   0.378559  [[[0.038, year], [0.034, school], [0.018, stud...
22        34   0.362651  [[[0.159, not], [0.126, m], [0.031, s], [0.024...
23        35   0.372475  [[[0.041, year], [0.036, month], [0.018, insur...